.App {
  text-align: center;
  background-color: #282c34;
}

.App ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 25px;
  text-decoration: none;
  list-style: none;
  font-size: 1.8rem;
}

.App ul:hover {
  cursor: pointer;
  color: red;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: #09d3ac;
}
